In [80]:
import pandas as pd
import sys
import re
import logging
sys.path.append('../')

import db.utils as dbutil
from utils import utils

In [81]:
cnx = dbutil.get_mysql_cnx()

In [74]:
new_house_link_df = pd.read_csv('/home/ubuntu/houspiders/house_list_spider/output/house_links.csv')
house_link_mysql_df = pd.read_csv('/home/ubuntu/houspiders/house_list_spider/output/house_links_mysql.csv')

In [76]:
num_duplicated_new_houses = len(
    new_house_link_df[new_house_link_df.duplicated(['house_id'], keep=False)]['house_id'].unique())
new_house_link_df.sort_values(by=['house_id', 'is_pr_item'],
                              ascending=[True, False],
                              na_position='last',
                              inplace=True)
new_house_link_df.drop_duplicates('house_id', inplace=True)
new_house_link_df

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city
12,90650000079,False,update プラウドタワー東雲キャナルコート,6980,mansion_chuko,tokyo
32,1006570021377,False,パレス武蔵野7,2790,mansion_chuko,tokyo
86,1007440019669,False,仲六郷ダイヤモンドマンション,3480,mansion_chuko,tokyo
95,1007440019674,False,マンションヴィップ目黒,3980,mansion_chuko,tokyo
80,1090830003589,False,シーガルハイツ入谷壱番館,4790,mansion_chuko,tokyo
...,...,...,...,...,...,...
28,1443550000857,False,メゾン一ツ橋学園,1498,mansion_chuko,tokyo
66,1469030000046,False,シティタワー高輪,50000,mansion_chuko,tokyo
5,39032100000145,False,new センチュリーパークタワー,13800,mansion_chuko,tokyo
4,39032100000161,False,new センチュリーパークタワー,13580,mansion_chuko,tokyo
13,60000330219855,False,update 日神パレステージ西麻布,9290,mansion_chuko,tokyo

In [4]:
house_link_mysql_df

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city,is_available,first_available_date,unavailable_date
0,1443550000722,0,update プラウドタワー東雲キャナルコート,19598,mansion_chuko,tokyo,0,2022-11-01,2022-11-02
1,1199950004737,0,update プラウドタワー東雲キャナルコート,16980,mansion_chuko,tokyo,1,2022-11-01,NaN
2,90650000079,0,update プラウドタワー東雲キャナルコート,16980,mansion_chuko,tokyo,1,2022-11-01,NaN
3,60000330219855,0,update 日神パレステージ西麻布,19290,mansion_chuko,tokyo,1,2022-11-01,NaN
4,1370140008121,0,update 日神パレステージ西麻布,16480,mansion_chuko,tokyo,1,2022-11-01,NaN
...,...,...,...,...,...,...,...,...,...
99,1334620004515,0,old レーベンハイム綾瀬パークヴェール,100,mansion_chuko,tokyo,1,2022-11-01,NaN
100,1451190000235,0,old JR総武線 小岩駅 徒歩15分,100,mansion_chuko,tokyo,1,2022-11-01,NaN
101,1216390028277,0,old JR総武線 小岩駅 徒歩15分,100,mansion_chuko,tokyo,1,2022-11-01,NaN
102,1392860000629,0,old フェアヒルズ南大沢エールコート,100,mansion_chuko,tokyo,1,2022-11-01,NaN
103,1216390028369,0,old フュージョナル王子ＲＩＣＯＴＴ,100,mansion_chuko,tokyo,1,2022-11-01,NaN

In [21]:
from sqlalchemy import create_engine

In [22]:
conn = create_engine("mysql+mysqldb://root:houspider@localhost/house")

In [26]:
house_link_mysql_df.sort_values(by=['house_id', 'is_pr_item'], ascending=[True, False], na_position='last', inplace=True)

In [31]:
house_link_mysql_df.drop_duplicates('house_id', inplace=True)

In [ ]:
house_link_mysql_df.to_sql('lifull_house_link', con=conn, if_exists='append', index=False)

In [82]:
available_house_df = pd.read_sql('SELECT house_id, is_pr_item, listing_house_price FROM lifull_house_link WHERE is_available', cnx)

/tmp/ipykernel_1650/1877887545.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  available_house_df = pd.read_sql('SELECT house_id, is_pr_item, listing_house_price FROM lifull_house_link WHERE is_available', cnx)

In [83]:
available_house_df.dtypes

house_id                object
is_pr_item               int64
listing_house_price    float64
dtype: object

In [67]:
available_house_df['house_id']=available_house_df['house_id'].astype(int)
available_house_df['is_pr_item'] = available_house_df['is_pr_item'].astype(bool)

In [88]:
merged_df = new_house_link_df.merge(available_house_df, how='outer',on=['house_id'], suffixes=['_new', '_old'])

In [89]:
merged_df

/home/ubuntu/.local/lib/python3.10/site-packages/IPython/lib/pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/home/ubuntu/.local/lib/python3.10/site-packages/IPython/core/formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,house_id,is_pr_item_new,listing_house_name,listing_house_price_new,sale_category,city,is_pr_item_old,listing_house_price_old
0,90650000079,False,update プラウドタワー東雲キャナルコート,6980.0,mansion_chuko,tokyo,False,16980.0
1,1006570021377,False,パレス武蔵野7,2790.0,mansion_chuko,tokyo,False,2790.0
2,1007440019669,False,仲六郷ダイヤモンドマンション,3480.0,mansion_chuko,tokyo,False,3480.0
3,1007440019674,False,マンションヴィップ目黒,3980.0,mansion_chuko,tokyo,False,3980.0
4,1090830003589,False,シーガルハイツ入谷壱番館,4790.0,mansion_chuko,tokyo,False,4790.0
...,...,...,...,...,...,...,...,...
108,1392860000629,NaN,NaN,NaN,NaN,NaN,False,100.0
109,1393790002251,NaN,NaN,NaN,NaN,NaN,False,100.0
110,1418210001548,NaN,NaN,NaN,NaN,NaN,True,100.0
111,1451190000235,NaN,NaN,NaN,NaN,NaN,False,100.0
112,8910092198,NaN,NaN,NaN,NaN,NaN,False,100.0

In [90]:
newly_unavailable_house_df = merged_df[merged_df['is_pr_item_new'].isnull()]
possible_new_house_df = merged_df[merged_df['is_pr_item_old'].isnull()]
updated_house_df = merged_df.dropna()
updated_house_df = updated_house_df[(updated_house_df['is_pr_item_new'] != updated_house_df['is_pr_item_old']) | (updated_house_df['listing_house_price_new'] != updated_house_df['listing_house_price_old'])]

In [145]:
possible_new_house_df

,house_id,is_pr_item_new,listing_house_name,listing_house_price_new,sale_category,city,is_pr_item_old,listing_house_price_old
30,1090830003803,False,new センチュリーパークタワー,15180.0,mansion_chuko,tokyo,NaN,NaN
33,1090830003812,False,new ドレッセ目黒インプレスタワー,14780.0,mansion_chuko,tokyo,NaN,NaN
35,1184720011959,True,new サンクレイドル武蔵砂川,2390.0,mansion_chuko,tokyo,NaN,NaN
45,1339690004964,True,new 角の部屋「クレアトール亀戸」亀戸Selection,6590.0,mansion_chuko,tokyo,NaN,NaN
47,1357690007171,False,new グランシティ辰巳の森海浜公園,3880.0,mansion_chuko,tokyo,NaN,NaN
66,1421770007438,False,セザール調布つつじケ丘,4680.0,mansion_chuko,tokyo,NaN,NaN
74,1443550000611,False,new グランシティ辰巳の森海浜公園,6298.0,mansion_chuko,tokyo,NaN,NaN
80,1443550000668,False,new エクセレントヴェール下北沢,5198.0,mansion_chuko,tokyo,NaN,NaN
85,1443550000722,False,update プラウドタワー東雲キャナルコート,9598.0,mansion_chuko,tokyo,NaN,NaN
91,1443550000752,False,new グランスイート ラ・ヴィル,5290.0,mansion_chuko,tokyo,NaN,NaN
100,39032100000145,False,new センチュリーパークタワー,13800.0,mansion_chuko,tokyo,NaN,NaN
101,39032100000161,False,new センチュリーパークタワー,13580.0,mansion_chuko,tokyo,NaN,NaN

In [68]:
def is_row_exist(col, val, table_name, cur):
    cur.execute(f"SELECT {col} from {table_name} WHERE {col}=%s;", (val,))
    return cur.rowcount > 0

def update_table(val_map, where_clause, table_name, cur):
    column_list = list(val_map.keys())
    value_list = [val_map[x] for x in column_list]
    set_clause = ','.join([f'{k}=%s' for k in column_list])
    query = f"""
        UPDATE {table_name} 
        SET
            {set_clause}
        WHERE
            {where_clause};
    """
    cur.execute(query, tuple(value_list))
    return cur.rowcount
    
def insert_table(val_map, table_name, cur, on_duplicate_update_val_map=None):
    column_list = list(val_map.keys())
    value_list = [val_map[x] for x in column_list]
    
    param_list = value_list
    
    query = f"""
        INSERT INTO {table_name} ({','.join(column_list)})
        VALUES ({','.join(["%s"] * len(value_list))})
        """
    if on_duplicate_update_val_map is not None:
        update_column_list = list(on_duplicate_update_val_map.keys())
        update_value_list = [on_duplicate_update_val_map[x] for x in update_column_list]
        param_list += update_value_list
        
        on_duplicate_update_clause = ','.join([f'{k}=%s' for k in update_column_list])
        query += f"""
        ON DUPLICATE KEY UPDATE
           {on_duplicate_update_clause}
        """
    cur.execute(f'{query};', tuple(param_list))
    return cur.rowcount

In [71]:

def handle_possible_new_house_df(df, cnx):
    """
    If the house exists, update it as is_available;
    If not, add it to `house_link` table.
    """
    cur = cnx.cursor(buffered=True)
    date_today_str = utils.get_date_str_today()
    success_added_rowcount = 0
    success_updated_rowcount = 0
    for index, row in df.iterrows():
        update_data = {
            'is_pr_item': row.is_pr_item,
            'listing_house_name': row.listing_house_name,
            'listing_house_price': row.listing_house_price,
            'sale_category': row.sale_category,
            'city': row.city,
            'is_available': 1,
            'unavailable_date': None
        }
        rowcount = insert_table(val_map={
                'house_id': row.house_id,
                'first_available_date': date_today_str,
                **update_data
            },
            table_name='lifull_house_link',
            cur=cur,
            on_duplicate_update_val_map=update_data)
        if rowcount == 1:
            success_added_rowcount += 1
        elif rowcount == 2:
            success_updated_rowcount += 1
            
        logging.info(f'handle_possible_new_house_df: rowcount={rowcount}, house_id:{row.house_id}')
        # Commit the changes
        cnx.commit()

    return success_added_rowcount, success_updated_rowcount

In [72]:
handle_possible_new_house_df(new_house_link_df, cnx)

        INSERT INTO lifull_house_link (house_id,first_available_date,is_pr_item,listing_house_name,listing_house_price,sale_category,city,is_available,unavailable_date)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)

        ON DUPLICATE KEY UPDATE
           is_pr_item=%s,listing_house_name=%s,listing_house_price=%s,sale_category=%s,city=%s,is_available=%s,unavailable_date=%s
         [1418210001195, '2022-11-14', False, "コンシェリア芝公園 MASTER'S VILLA", 7200, 'mansion_chuko', 'tokyo', 1, None, False, "コンシェリア芝公園 MASTER'S VILLA", 7200, 'mansion_chuko', 'tokyo', 1, None]

        INSERT INTO lifull_house_link (house_id,first_available_date,is_pr_item,listing_house_name,listing_house_price,sale_category,city,is_available,unavailable_date)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)

        ON DUPLICATE KEY UPDATE
           is_pr_item=%s,listing_house_name=%s,listing_house_price=%s,sale_category=%s,city=%s,is_available=%s,unavailable_date=%s
         [1004590039072, '2022-11-14', False, '東武伊勢崎線 東向島駅 徒歩2分', 4730, 'mansion_chuko', 'tokyo', 1, None, False, '東武伊勢崎線 東向島駅 徒歩2分', 4730, 'mansion_chuko', 'tokyo', 1, None]

(1, 0)

In [180]:
def handle_updated_house_df(df, cnx):
    """
    Update the house in `house_link` table.
    """
    cur = cnx.cursor(buffered=True)
    date_today_str = get_date_str_today()
    success_updated_rowcount = 0
    for index, row in df.iterrows():
        rowcount = update_table(val_map={
            'is_pr_item': row.is_pr_item_new,
            'listing_house_name': f"'{row.listing_house_name}'",
            'listing_house_price': row.listing_house_price_new,
            'sale_category': f"'{row.sale_category}'",
            'city': f"'{row.city}'",
            'is_available': 1,
            'unavailable_date': 'null'
        }, 
        where_clause=f'house_id={row.house_id}',
        table_name='lifull_house_link', 
        cur=cur)
        success_updated_rowcount += rowcount
        print(row.listing_house_name, rowcount)

        # Commit the changes
        cnx.commit()

    return success_updated_rowcount

In [183]:
updated_house_df

,house_id,is_pr_item_new,listing_house_name,listing_house_price_new,sale_category,city,is_pr_item_old,listing_house_price_old
0,90650000079,False,update プラウドタワー東雲キャナルコート,6980.0,mansion_chuko,tokyo,False,16980.0
36,1199950004737,False,update プラウドタワー東雲キャナルコート,6980.0,mansion_chuko,tokyo,False,16980.0
55,1370140008121,False,update 日神パレステージ西麻布,6480.0,mansion_chuko,tokyo,False,16480.0
75,1443550000622,False,update 日神パレステージ西麻布,8590.0,mansion_chuko,tokyo,False,18590.0
81,1443550000697,False,update セザール調布つつじケ丘,4680.0,mansion_chuko,tokyo,False,14680.0
84,1443550000713,False,update ファミール聖蹟桜ケ丘,2298.0,mansion_chuko,tokyo,False,12298.0
92,1443550000771,False,update グランハイム町屋,4590.0,mansion_chuko,tokyo,False,14590.0
96,1443550000832,False,update アポーラ中野,2480.0,mansion_chuko,tokyo,False,12480.0
102,60000330219855,False,update 日神パレステージ西麻布,9290.0,mansion_chuko,tokyo,False,19290.0

In [185]:
handle_updated_house_df(updated_house_df, cnx)

update プラウドタワー東雲キャナルコート 0
update プラウドタワー東雲キャナルコート 0
update 日神パレステージ西麻布 0
update 日神パレステージ西麻布 0
update セザール調布つつじケ丘 0
update ファミール聖蹟桜ケ丘 0
update グランハイム町屋 0
update アポーラ中野 0
update 日神パレステージ西麻布 0

0

In [215]:
cur = cnx.cursor(buffered=True)

In [201]:
house_id = 1443550000522
cur.execute(f"SELECT price, price_date from lifull_house_price_history WHERE house_id={house_id} order by price_date asc;")
all_rows = cur.fetchall()
print(all_rows)

[(3380, datetime.date(2022, 11, 9)), (3390, datetime.date(2022, 11, 10))]

In [210]:
''.join(re.findall(r'\d+', ))

'14380'

In [230]:
get_float_from_text('34.3m² (壁心)')

34.3

In [232]:
from datetime import date

In [237]:
date(1997, 3, 1).strftime("%Y-%m-%d")

'1997-03-01'

In [53]:
new_house_link_df = pd.read_csv('/home/ubuntu/houspiders/house_list_spider/output/2022-11-15/house_links.csv')

In [50]:

new_house_link_df.dtypes

house_id                int64
is_pr_item               bool
listing_house_name     object
listing_house_price     int64
sale_category          object
city                   object
dtype: object

In [7]:
available_house_df.dtypes

house_id               object
is_pr_item              int64
listing_house_price     int64
dtype: object

In [14]:
len(new_house_link_df['house_id'])

11347

In [18]:
for x in new_house_link_df:
    try:
        t = int(x.house_id)
    except:
        print(x)

house_id
is_pr_item
listing_house_name
listing_house_price
sale_category
city

In [51]:
new_house_link_df[new_house_link_df['listing_house_price'] == 7200.0]

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city
0,1418210001195,False,コンシェリア芝公園 MASTER'S VILLA,7200,mansion_chuko,tokyo

In [9]:

from datetime import datetime
import pytz
date_format='%Y-%m-%d %H:%M:%S %Z'
print('Current date & time is:',  datetime.now(tz=pytz.timezone('America/Los_Angeles')).strftime(date_format))

Current date & time is: 2022-11-14 18:26:36 PST

In [31]:
cnx.close()

In [43]:
cnx._cmysql.escape_string("コンシェリア芝公園 MASTER'S VILLA").decode("utf-8")

"コンシェリア芝公園 MASTER\\'S VILLA"

In [39]:
cur = cnx.cursor(buffered=True)

In [67]:
new_house_link_df

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city
0,1418210001195,False,コンシェリア芝公園 MASTER'S VILLA,7200,mansion_chuko,tokyo
1,1004590039072,False,東武伊勢崎線 東向島駅 徒歩2分,4730,mansion_chuko,tokyo

In [13]:
re.findall(r'\d*,?\d+円', """期間限定修繕積立金・2022年11月分迄：12,050円、役員辞退者協力金：4500円、不在区分所有者協力金(外部所有者のみ)：00,500円""")

['12,050円', '4500円', '00,500円']

In [18]:
utils.get_int_from_text('https://www.homes.co.jp/mansion/b-{house_id}/?iskks=1')

1

In [29]:
def get_int_from_text(item, empty_str_to_none=False):
    if isinstance(item, str):
        parsed_str = ''.join(re.findall(r'\d+', item))
        if parsed_str == '':
            if empty_str_to_none:
                return None
            else:
                return 0
        return int(parsed_str)
    return None

In [35]:
num_floor_infos = ' / 12階建'
num_null_fields = 0
floor_num = 0
num_total_floor = 0
floor_num_l = re.findall(r'\d+階 /', num_floor_infos)
num_total_floor_l = re.findall(r'/ \d+階建', num_floor_infos)
if len(floor_num_l) != 1:
    num_null_fields += 1
    floor_num = None
else:
    floor_num = get_int_from_text(floor_num_l[0], empty_str_to_none=True)

if len(num_total_floor_l) != 1:
    num_null_fields += 1
    num_total_floor = None
else:
    num_total_floor = get_int_from_text(num_total_floor_l[0], empty_str_to_none=True)
    
print(num_null_fields, floor_num, num_total_floor)

1 None 12

In [46]:
new_house_link_df.loc[0].is_pr_item

True

In [50]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
mail_content = """
Hello,
This is a simple mail. There is only text, no attachments are there The mail is sent using Python SMTP library.
Thank You
"""
#The mail addresses and password
sender_address = 'housetech.alert@gmail.com'
sender_pass = 'zqwvwacilfepwqid'
receiver_address = 'wyudun@gmail.com'

#Setup the MIME
message = MIMEMultipart()
message['From'] = sender_address
message['To'] = receiver_address
# message['CC'] = cc_receiver_address
message['Subject'] = 'A test mail sent by Python.'   # The subject line

#The body and the attachments for the mail
message.attach(MIMEText(mail_content, 'plain'))
#Create SMTP session for sending the mail
session = smtplib.SMTP('smtp.gmail.com', 587) # Use gmail with port
session.starttls() #enable security
session.login(sender_address, sender_pass) #Login with mail_id and password
text = message.as_string()
session.sendmail(sender_address, receiver_address, text)
session.quit()

(221,
 b'2.0.0 closing connection q13-20020aa7960d000000b0057253eb631dsm2067840pfg.46 - gsmtp')

In [68]:
print('\n'.join([f'{x.house_id}: {x.listing_house_name}' for _, x in new_house_link_df[:3].iterrows()]))

1339110000084: アーベイン赤塚 1001
1418210001548: 白金台シャスター
1339110000084: アーベイン赤塚

In [84]:
new_rent_house_link_df = pd.read_csv('/home/ubuntu/houspiders/house_list_spider/output/2022-11-19/house_chintai_links.csv')

In [85]:
new_rent_house_link_df.dtypes

house_id                     object
is_pr_item                     bool
listing_house_name           object
listing_house_rent          float64
listing_house_manage_fee    float64
city                         object
dtype: object

In [75]:
new_rent_house_link_df

0
2

In [88]:
available_house_df = pd.read_sql('SELECT house_id, is_pr_item, listing_house_rent, listing_house_manage_fee FROM lifull_rent_link WHERE is_available', cnx)

/tmp/ipykernel_1650/2674610982.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  available_house_df = pd.read_sql('SELECT house_id, is_pr_item, listing_house_rent, listing_house_manage_fee FROM lifull_rent_link WHERE is_available', cnx)

In [91]:

available_house_df['house_id'] = available_house_df['house_id'].astype(str)
available_house_df['is_pr_item'] = available_house_df['is_pr_item'].astype(bool)

In [96]:
new_rent_house_link_df.dtypes

house_id                     object
is_pr_item                     bool
listing_house_name           object
listing_house_rent          float64
listing_house_manage_fee    float64
city                         object
dtype: object

In [97]:
merged_df = new_rent_house_link_df.merge(available_house_df, how='outer', on=['house_id'], suffixes=['_new', '_old'])

In [98]:
merged_df

,house_id,is_pr_item_new,listing_house_name,listing_house_rent_new,listing_house_manage_fee_new,city,is_pr_item_old,listing_house_rent_old,listing_house_manage_fee_old
0,1176450029863,True,ライヴス森下スタジオ,9.70,7000.0,tokyo,NaN,NaN,NaN
1,31027040045396,True,響ビル,6.60,3000.0,tokyo,True,6.6,3000.0
2,dd9f810e0abfbe1956200c27bc297a2b49513426,False,シャトー代々木,12.00,3000.0,tokyo,False,12.0,3000.0
3,748472d8ea24fada54f30cef2deb47c149887a76,False,JR総武線 代々木駅 徒歩3分,12.00,3000.0,tokyo,NaN,NaN,NaN
4,c9eceadfba70ec64a7b29b1befcf51149612d1cc,False,グレイスコート初台,9.70,5000.0,tokyo,NaN,NaN,NaN
5,569de82f49a7972c0a017c3063d823264b6ff816,False,ガーデン代々木,12.00,5000.0,tokyo,NaN,NaN,NaN
6,60241db10f3a902644512cb777c014fbae753641,False,JR山手線 代々木駅 徒歩7分,15.80,5000.0,tokyo,NaN,NaN,NaN
7,76aad48cd3008f1435cdc59586e398973c695215,False,メゾン ド ボヌール,15.50,0.0,tokyo,NaN,NaN,NaN
8,f29324a9496d1552491b0e90de29f23ddce660d9,False,Ｐｅｎｅｔｒａｌｅ,12.70,3000.0,tokyo,NaN,NaN,NaN
9,a7e8f2e7f06eef056705b42451ab7270e6708b29,False,Ｐｅｎｅｔｒａｌｅ,11.00,3000.0,tokyo,NaN,NaN,NaN
10,43d6581f758b0fbe6187f03965e29734c3207ded,False,Ｐｅｎｅｔｒａｌｅ,10.90,3000.0,tokyo,NaN,NaN,NaN
11,949b6dbc8c2ebf4206e965942b176ac394595dc8,False,JR山手線 代々木駅 徒歩5分,12.70,3000.0,tokyo,NaN,NaN,NaN
12,7f3ba2d8c850b3aee525bd642c4b79d43eadb646,False,JR山手線 代々木駅 徒歩5分,11.00,3000.0,tokyo,NaN,NaN,NaN
13,4c82758bfdc912e0aeb75bca4a0e92c984d0eb11,False,JR山手線 代々木駅 徒歩5分,10.90,3000.0,tokyo,NaN,NaN,NaN
14,d39449869e48f829f9704d87d0ca7f861141d759,False,arc-en-ciel,11.90,5000.0,tokyo,NaN,NaN,NaN
15,9e52c59d7e6444e1edcf1656c17b1b4cfaa28938,False,京王線 初台駅 徒歩4分,10.30,20000.0,tokyo,NaN,NaN,NaN
16,768017cf20e064da41bd53032c35159e2597e990,False,エルピス,9.60,4000.0,tokyo,NaN,NaN,NaN
17,229902339785b5384bd88d3a153810cbbb11a7d6,False,アクサス渋谷初台,9.15,20000.0,tokyo,NaN,NaN,NaN
18,ae94ca720b466300064913bd0c5a5a3dceaa4640,False,アクサス渋谷初台,10.30,20000.0,tokyo,NaN,NaN,NaN
19,a4918afbe820ab8ab0aecedfc7f8bfbee07ba25a,False,アクサス渋谷初台,9.05,20000.0,tokyo,NaN,NaN,NaN
20,8184bc1605d7c725c66f47992ba9312d6c8183db,False,アクサス渋谷初台,13.95,20000.0,tokyo,NaN,NaN,NaN
21,c2f0531e8df287844c33619c2df51df6a6ee9862,False,小田急小田原線 代々木八幡駅 徒歩6分,9.60,4000.0,tokyo,NaN,NaN,NaN
22,6f2a37f74a624cae53db6fa24b94caadf0618e02,False,JLBグランエクリュ初台,11.90,9000.0,tokyo,NaN,NaN,NaN
23,c904fb5c0f3c98c3e14f230b56d668c8f5485765,False,京王線 初台駅 徒歩4分,15.50,4000.0,tokyo,NaN,NaN,NaN
24,28fc92421caa5ceb033a8953c574b90c2fb8117c,False,ブリランテ西新宿(ブリランテニシシンジュク),15.50,4000.0,tokyo,NaN,NaN,NaN
25,508667bc42146a0d7124da7591013bc9ff46c95e,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,8.90,10000.0,tokyo,NaN,NaN,NaN
26,08321443e68f904b87ea86359f7d9267b980056a,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,13.65,10000.0,tokyo,NaN,NaN,NaN
27,654e0187db4ab8d26c9d6b3e86b3af15effbcf1c,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,13.55,10000.0,tokyo,NaN,NaN,NaN
28,2d386b27470ae74bcd3ce21a4b94a01c12b29b19,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,13.55,10000.0,tokyo,NaN,NaN,NaN
29,4be20d31f0c40d0047188bcd5092430ab5228e4d,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,13.20,10000.0,tokyo,NaN,NaN,NaN
30,bf201e25f9c6d939783b178332fb6a290759fae4,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,12.80,10000.0,tokyo,NaN,NaN,NaN
31,ae40b9ab91f7ba91d9bf31bc93b451ab360c4fde,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,13.55,10000.0,tokyo,NaN,NaN,NaN
32,55443847d6b8b574ab6485e17253dff5e6a948f5,False,ルネサンスコート千駄ヶ谷ＮＯＲＴＨ,13.20,10000.0,tokyo,NaN,NaN,NaN
33,bb1f92e490fc1600d77d4cb7ce72808184504ef3,False,京王線 幡ヶ谷駅 徒歩9分,7.90,6000.0,tokyo,NaN,NaN,NaN
34,a87426298ddf1ddefa6149240274d0753999f02f,False,JR山手線 渋谷駅 徒歩12分,15.50,0.0,tokyo,NaN,NaN,NaN
35,262d722f6f9cd7f1f7b3ede9d7387600a6a1b81d,False,メゾン・ド・シャルム,13.50,4000.0,tokyo,NaN,NaN,NaN
36,4958f7213d271d91cf16fc5d9af29cc0abea090a,False,リヴァートシーズン参宮橋,9.35,6000.0,tokyo,NaN,NaN,NaN
37,5490f9ae336670c4cc779169a993b0ccdbf18824,False,リヴァートシーズン参宮橋,9.20,6000.0,tokyo,NaN,NaN,NaN
38,e8ffa032342ee4fd03b33435edc127cb1d55e02e,False,リヴァートシーズン参宮橋,9.20,6000.0,tokyo,NaN,NaN,NaN
39,37de2814f627ed87b734960cafa4acf9bf42aa53,False,フレシール笹塚A棟,6.50,10000.0,tokyo,NaN,NaN,NaN
40,5dba7d843167eed59fef7dd1a7219e9cabfebd21,False,フレシール笹塚A棟,6.50,10000.0,tokyo,NaN,NaN,NaN
41,3a391411c7a136689a89b59806f8824b79b70262,False,都営新宿線 曙橋駅 徒歩5分,13.50,4000.0,tokyo,NaN,NaN,NaN
42,e86ea381e4c9e96521e0386cdf8e7326ad9a66fb,False,フェニキアＳＴＵＤＩＯ,7.60,3000.0,tokyo,NaN,NaN,NaN
43,e6ff61ec6ee36cf52d8969bf751f8c18ed4c83ab,False,フェニキアＳＴＵＤＩＯ,7.80,3000.0,tokyo,NaN,NaN,NaN
44,23926a6df32ea947132d433fc19f6ef41bbb683b,False,笹塚マンション,12.50,3000.0,tokyo,NaN,NaN,NaN
45,355414ca0d3992739b20479b7cc9ee228c50ff19,False,笹塚マンション,7.90,3000.0,tokyo,NaN,NaN,NaN
46,38bb5655356038dd4ba8b9dfd3a16f8edd52ff00,False,京王線 笹塚駅 徒歩10分,12.50,3000.0,tokyo,NaN,NaN,NaN
47,21a816c5df6fe20f88360790c583dcf815cc93cf,False,京王線 笹塚駅 徒歩10分,12.50,3000.0,tokyo,NaN,NaN,NaN
48,54648a72d70ec29270ff2d4293746c9e4da432ff,False,京王線 笹塚駅 徒歩10分,7.90,3000.0,tokyo,NaN,NaN,NaN
49,076b3b7b704c61bbeb622335b20f269bcddbb2a6,False,Ｃｈａｌｅｕｒ（シャルール）,10.90,0.0,tokyo,NaN,NaN,NaN
50,9eee7544e87768885a11e94ca7b50f3700d78aa7,False,アルメリア,14.40,3000.0,tokyo,NaN,NaN,NaN
51,b298f791bd5918bb279ff253ebdddbc23632dd5e,False,リアン ドゥ ウエハラ,10.40,0.0,tokyo,NaN,NaN,NaN