In [55]:
import pandas as pd
import sys
import logging
sys.path.append('../')

import db.utils as dbutil
from utils import utils

def get_float_from_text(item):
    if isinstance(item, str):
        return float(''.join(re.findall(r'\d*[.\d+]', item)))
    return None

In [46]:
cnx = get_mysql_cnx()

In [74]:
new_house_link_df = pd.read_csv('/home/ubuntu/houspiders/house_list_spider/output/house_links.csv')
house_link_mysql_df = pd.read_csv('/home/ubuntu/houspiders/house_list_spider/output/house_links_mysql.csv')

In [76]:
num_duplicated_new_houses = len(
    new_house_link_df[new_house_link_df.duplicated(['house_id'], keep=False)]['house_id'].unique())
new_house_link_df.sort_values(by=['house_id', 'is_pr_item'],
                              ascending=[True, False],
                              na_position='last',
                              inplace=True)
new_house_link_df.drop_duplicates('house_id', inplace=True)
new_house_link_df

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city
12,90650000079,False,update プラウドタワー東雲キャナルコート,6980,mansion_chuko,tokyo
32,1006570021377,False,パレス武蔵野7,2790,mansion_chuko,tokyo
86,1007440019669,False,仲六郷ダイヤモンドマンション,3480,mansion_chuko,tokyo
95,1007440019674,False,マンションヴィップ目黒,3980,mansion_chuko,tokyo
80,1090830003589,False,シーガルハイツ入谷壱番館,4790,mansion_chuko,tokyo
...,...,...,...,...,...,...
28,1443550000857,False,メゾン一ツ橋学園,1498,mansion_chuko,tokyo
66,1469030000046,False,シティタワー高輪,50000,mansion_chuko,tokyo
5,39032100000145,False,new センチュリーパークタワー,13800,mansion_chuko,tokyo
4,39032100000161,False,new センチュリーパークタワー,13580,mansion_chuko,tokyo
13,60000330219855,False,update 日神パレステージ西麻布,9290,mansion_chuko,tokyo

In [4]:
house_link_mysql_df

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city,is_available,first_available_date,unavailable_date
0,1443550000722,0,update プラウドタワー東雲キャナルコート,19598,mansion_chuko,tokyo,0,2022-11-01,2022-11-02
1,1199950004737,0,update プラウドタワー東雲キャナルコート,16980,mansion_chuko,tokyo,1,2022-11-01,NaN
2,90650000079,0,update プラウドタワー東雲キャナルコート,16980,mansion_chuko,tokyo,1,2022-11-01,NaN
3,60000330219855,0,update 日神パレステージ西麻布,19290,mansion_chuko,tokyo,1,2022-11-01,NaN
4,1370140008121,0,update 日神パレステージ西麻布,16480,mansion_chuko,tokyo,1,2022-11-01,NaN
...,...,...,...,...,...,...,...,...,...
99,1334620004515,0,old レーベンハイム綾瀬パークヴェール,100,mansion_chuko,tokyo,1,2022-11-01,NaN
100,1451190000235,0,old JR総武線 小岩駅 徒歩15分,100,mansion_chuko,tokyo,1,2022-11-01,NaN
101,1216390028277,0,old JR総武線 小岩駅 徒歩15分,100,mansion_chuko,tokyo,1,2022-11-01,NaN
102,1392860000629,0,old フェアヒルズ南大沢エールコート,100,mansion_chuko,tokyo,1,2022-11-01,NaN
103,1216390028369,0,old フュージョナル王子ＲＩＣＯＴＴ,100,mansion_chuko,tokyo,1,2022-11-01,NaN

In [21]:
from sqlalchemy import create_engine

In [22]:
conn = create_engine("mysql+mysqldb://root:houspider@localhost/house")

In [26]:
house_link_mysql_df.sort_values(by=['house_id', 'is_pr_item'], ascending=[True, False], na_position='last', inplace=True)

In [31]:
house_link_mysql_df.drop_duplicates('house_id', inplace=True)

In [ ]:
house_link_mysql_df.to_sql('lifull_house_link', con=conn, if_exists='append', index=False)

In [54]:
available_house_df = pd.read_sql('SELECT house_id, is_pr_item, listing_house_price FROM lifull_house_link WHERE is_available', cnx)

/tmp/ipykernel_41475/1877887545.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  available_house_df = pd.read_sql('SELECT house_id, is_pr_item, listing_house_price FROM lifull_house_link WHERE is_available', cnx)

In [67]:
available_house_df['house_id']=available_house_df['house_id'].astype(int)
available_house_df['is_pr_item'] = available_house_df['is_pr_item'].astype(bool)

In [88]:
merged_df = new_house_link_df.merge(available_house_df, how='outer',on=['house_id'], suffixes=['_new', '_old'])

In [89]:
merged_df

/home/ubuntu/.local/lib/python3.10/site-packages/IPython/lib/pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/home/ubuntu/.local/lib/python3.10/site-packages/IPython/core/formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,house_id,is_pr_item_new,listing_house_name,listing_house_price_new,sale_category,city,is_pr_item_old,listing_house_price_old
0,90650000079,False,update プラウドタワー東雲キャナルコート,6980.0,mansion_chuko,tokyo,False,16980.0
1,1006570021377,False,パレス武蔵野7,2790.0,mansion_chuko,tokyo,False,2790.0
2,1007440019669,False,仲六郷ダイヤモンドマンション,3480.0,mansion_chuko,tokyo,False,3480.0
3,1007440019674,False,マンションヴィップ目黒,3980.0,mansion_chuko,tokyo,False,3980.0
4,1090830003589,False,シーガルハイツ入谷壱番館,4790.0,mansion_chuko,tokyo,False,4790.0
...,...,...,...,...,...,...,...,...
108,1392860000629,NaN,NaN,NaN,NaN,NaN,False,100.0
109,1393790002251,NaN,NaN,NaN,NaN,NaN,False,100.0
110,1418210001548,NaN,NaN,NaN,NaN,NaN,True,100.0
111,1451190000235,NaN,NaN,NaN,NaN,NaN,False,100.0
112,8910092198,NaN,NaN,NaN,NaN,NaN,False,100.0

In [90]:
newly_unavailable_house_df = merged_df[merged_df['is_pr_item_new'].isnull()]
possible_new_house_df = merged_df[merged_df['is_pr_item_old'].isnull()]
updated_house_df = merged_df.dropna()
updated_house_df = updated_house_df[(updated_house_df['is_pr_item_new'] != updated_house_df['is_pr_item_old']) | (updated_house_df['listing_house_price_new'] != updated_house_df['listing_house_price_old'])]

In [145]:
possible_new_house_df

,house_id,is_pr_item_new,listing_house_name,listing_house_price_new,sale_category,city,is_pr_item_old,listing_house_price_old
30,1090830003803,False,new センチュリーパークタワー,15180.0,mansion_chuko,tokyo,NaN,NaN
33,1090830003812,False,new ドレッセ目黒インプレスタワー,14780.0,mansion_chuko,tokyo,NaN,NaN
35,1184720011959,True,new サンクレイドル武蔵砂川,2390.0,mansion_chuko,tokyo,NaN,NaN
45,1339690004964,True,new 角の部屋「クレアトール亀戸」亀戸Selection,6590.0,mansion_chuko,tokyo,NaN,NaN
47,1357690007171,False,new グランシティ辰巳の森海浜公園,3880.0,mansion_chuko,tokyo,NaN,NaN
66,1421770007438,False,セザール調布つつじケ丘,4680.0,mansion_chuko,tokyo,NaN,NaN
74,1443550000611,False,new グランシティ辰巳の森海浜公園,6298.0,mansion_chuko,tokyo,NaN,NaN
80,1443550000668,False,new エクセレントヴェール下北沢,5198.0,mansion_chuko,tokyo,NaN,NaN
85,1443550000722,False,update プラウドタワー東雲キャナルコート,9598.0,mansion_chuko,tokyo,NaN,NaN
91,1443550000752,False,new グランスイート ラ・ヴィル,5290.0,mansion_chuko,tokyo,NaN,NaN
100,39032100000145,False,new センチュリーパークタワー,13800.0,mansion_chuko,tokyo,NaN,NaN
101,39032100000161,False,new センチュリーパークタワー,13580.0,mansion_chuko,tokyo,NaN,NaN

In [68]:
def is_row_exist(col, val, table_name, cur):
    cur.execute(f"SELECT {col} from {table_name} WHERE {col}=%s;", (val,))
    return cur.rowcount > 0

def update_table(val_map, where_clause, table_name, cur):
    column_list = list(val_map.keys())
    value_list = [val_map[x] for x in column_list]
    set_clause = ','.join([f'{k}=%s' for k in column_list])
    query = f"""
        UPDATE {table_name} 
        SET
            {set_clause}
        WHERE
            {where_clause};
    """
    cur.execute(query, tuple(value_list))
    return cur.rowcount
    
def insert_table(val_map, table_name, cur, on_duplicate_update_val_map=None):
    column_list = list(val_map.keys())
    value_list = [val_map[x] for x in column_list]
    
    param_list = value_list
    
    query = f"""
        INSERT INTO {table_name} ({','.join(column_list)})
        VALUES ({','.join(["%s"] * len(value_list))})
        """
    if on_duplicate_update_val_map is not None:
        update_column_list = list(on_duplicate_update_val_map.keys())
        update_value_list = [on_duplicate_update_val_map[x] for x in update_column_list]
        param_list += update_value_list
        
        on_duplicate_update_clause = ','.join([f'{k}=%s' for k in update_column_list])
        query += f"""
        ON DUPLICATE KEY UPDATE
           {on_duplicate_update_clause}
        """
    cur.execute(f'{query};', tuple(param_list))
    return cur.rowcount

In [71]:

def handle_possible_new_house_df(df, cnx):
    """
    If the house exists, update it as is_available;
    If not, add it to `house_link` table.
    """
    cur = cnx.cursor(buffered=True)
    date_today_str = utils.get_date_str_today()
    success_added_rowcount = 0
    success_updated_rowcount = 0
    for index, row in df.iterrows():
        update_data = {
            'is_pr_item': row.is_pr_item,
            'listing_house_name': row.listing_house_name,
            'listing_house_price': row.listing_house_price,
            'sale_category': row.sale_category,
            'city': row.city,
            'is_available': 1,
            'unavailable_date': None
        }
        rowcount = insert_table(val_map={
                'house_id': row.house_id,
                'first_available_date': date_today_str,
                **update_data
            },
            table_name='lifull_house_link',
            cur=cur,
            on_duplicate_update_val_map=update_data)
        if rowcount == 1:
            success_added_rowcount += 1
        elif rowcount == 2:
            success_updated_rowcount += 1
            
        logging.info(f'handle_possible_new_house_df: rowcount={rowcount}, house_id:{row.house_id}')
        # Commit the changes
        cnx.commit()

    return success_added_rowcount, success_updated_rowcount

In [72]:
handle_possible_new_house_df(new_house_link_df, cnx)

        INSERT INTO lifull_house_link (house_id,first_available_date,is_pr_item,listing_house_name,listing_house_price,sale_category,city,is_available,unavailable_date)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)

        ON DUPLICATE KEY UPDATE
           is_pr_item=%s,listing_house_name=%s,listing_house_price=%s,sale_category=%s,city=%s,is_available=%s,unavailable_date=%s
         [1418210001195, '2022-11-14', False, "コンシェリア芝公園 MASTER'S VILLA", 7200, 'mansion_chuko', 'tokyo', 1, None, False, "コンシェリア芝公園 MASTER'S VILLA", 7200, 'mansion_chuko', 'tokyo', 1, None]

        INSERT INTO lifull_house_link (house_id,first_available_date,is_pr_item,listing_house_name,listing_house_price,sale_category,city,is_available,unavailable_date)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)

        ON DUPLICATE KEY UPDATE
           is_pr_item=%s,listing_house_name=%s,listing_house_price=%s,sale_category=%s,city=%s,is_available=%s,unavailable_date=%s
         [1004590039072, '2022-11-14', False, '東武伊勢崎線 東向島駅 徒歩2分', 4730, 'mansion_chuko', 'tokyo', 1, None, False, '東武伊勢崎線 東向島駅 徒歩2分', 4730, 'mansion_chuko', 'tokyo', 1, None]

(1, 0)

In [180]:
def handle_updated_house_df(df, cnx):
    """
    Update the house in `house_link` table.
    """
    cur = cnx.cursor(buffered=True)
    date_today_str = get_date_str_today()
    success_updated_rowcount = 0
    for index, row in df.iterrows():
        rowcount = update_table(val_map={
            'is_pr_item': row.is_pr_item_new,
            'listing_house_name': f"'{row.listing_house_name}'",
            'listing_house_price': row.listing_house_price_new,
            'sale_category': f"'{row.sale_category}'",
            'city': f"'{row.city}'",
            'is_available': 1,
            'unavailable_date': 'null'
        }, 
        where_clause=f'house_id={row.house_id}',
        table_name='lifull_house_link', 
        cur=cur)
        success_updated_rowcount += rowcount
        print(row.listing_house_name, rowcount)

        # Commit the changes
        cnx.commit()

    return success_updated_rowcount

In [183]:
updated_house_df

,house_id,is_pr_item_new,listing_house_name,listing_house_price_new,sale_category,city,is_pr_item_old,listing_house_price_old
0,90650000079,False,update プラウドタワー東雲キャナルコート,6980.0,mansion_chuko,tokyo,False,16980.0
36,1199950004737,False,update プラウドタワー東雲キャナルコート,6980.0,mansion_chuko,tokyo,False,16980.0
55,1370140008121,False,update 日神パレステージ西麻布,6480.0,mansion_chuko,tokyo,False,16480.0
75,1443550000622,False,update 日神パレステージ西麻布,8590.0,mansion_chuko,tokyo,False,18590.0
81,1443550000697,False,update セザール調布つつじケ丘,4680.0,mansion_chuko,tokyo,False,14680.0
84,1443550000713,False,update ファミール聖蹟桜ケ丘,2298.0,mansion_chuko,tokyo,False,12298.0
92,1443550000771,False,update グランハイム町屋,4590.0,mansion_chuko,tokyo,False,14590.0
96,1443550000832,False,update アポーラ中野,2480.0,mansion_chuko,tokyo,False,12480.0
102,60000330219855,False,update 日神パレステージ西麻布,9290.0,mansion_chuko,tokyo,False,19290.0

In [185]:
handle_updated_house_df(updated_house_df, cnx)

update プラウドタワー東雲キャナルコート 0
update プラウドタワー東雲キャナルコート 0
update 日神パレステージ西麻布 0
update 日神パレステージ西麻布 0
update セザール調布つつじケ丘 0
update ファミール聖蹟桜ケ丘 0
update グランハイム町屋 0
update アポーラ中野 0
update 日神パレステージ西麻布 0

0

In [215]:
cur = cnx.cursor(buffered=True)

In [201]:
house_id = 1443550000522
cur.execute(f"SELECT price, price_date from lifull_house_price_history WHERE house_id={house_id} order by price_date asc;")
all_rows = cur.fetchall()
print(all_rows)

[(3380, datetime.date(2022, 11, 9)), (3390, datetime.date(2022, 11, 10))]

In [210]:
''.join(re.findall(r'\d+', ))

'14380'

In [230]:
get_float_from_text('34.3m² (壁心)')

34.3

In [232]:
from datetime import date

In [237]:
date(1997, 3, 1).strftime("%Y-%m-%d")

'1997-03-01'

In [49]:
new_house_link_df = pd.read_csv('/home/ubuntu/houspiders/house_list_spider/output/2022-11-14/house_links.tmp.csv')

In [50]:

new_house_link_df.dtypes

house_id                int64
is_pr_item               bool
listing_house_name     object
listing_house_price     int64
sale_category          object
city                   object
dtype: object

In [6]:
available_house_df = pd.read_sql(
        'SELECT house_id, is_pr_item, listing_house_price FROM lifull_house_link WHERE is_available', cnx)

/tmp/ipykernel_2781/1626402186.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  available_house_df = pd.read_sql(

In [7]:
available_house_df.dtypes

house_id               object
is_pr_item              int64
listing_house_price     int64
dtype: object

In [14]:
len(new_house_link_df['house_id'])

11347

In [18]:
for x in new_house_link_df:
    try:
        t = int(x.house_id)
    except:
        print(x)

house_id
is_pr_item
listing_house_name
listing_house_price
sale_category
city

In [51]:
new_house_link_df[new_house_link_df['listing_house_price'] == 7200.0]

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city
0,1418210001195,False,コンシェリア芝公園 MASTER'S VILLA,7200,mansion_chuko,tokyo

In [9]:

from datetime import datetime
import pytz
date_format='%Y-%m-%d %H:%M:%S %Z'
print('Current date & time is:',  datetime.now(tz=pytz.timezone('America/Los_Angeles')).strftime(date_format))

Current date & time is: 2022-11-14 18:26:36 PST

In [31]:
cnx.close()

In [43]:
cnx._cmysql.escape_string("コンシェリア芝公園 MASTER'S VILLA").decode("utf-8")

"コンシェリア芝公園 MASTER\\'S VILLA"

In [39]:
cur = cnx.cursor(buffered=True)

In [67]:
new_house_link_df

,house_id,is_pr_item,listing_house_name,listing_house_price,sale_category,city
0,1418210001195,False,コンシェリア芝公園 MASTER'S VILLA,7200,mansion_chuko,tokyo
1,1004590039072,False,東武伊勢崎線 東向島駅 徒歩2分,4730,mansion_chuko,tokyo